PATH_add ./bin

## tip create git related secrets at once:
##   touch .devcontainer/.secrets/GIT_CONFIG_{KEY,VALUE}_{0..3}
##   echo '4' > .devcontainer/.secrets/GIT_CONFIG_COUNT
##
declare -ra environmentVariablesToLoadFromSecrets=(
  'PULUMI_ACCESS_TOKEN'
  'HCLOUD_TOKEN'
  'GH_TOKEN'
  'ATUIN_USERNAME'
  'ATUIN_PASSWORD'
  'ATUIN_KEY'
)

for environmentVariable in "${environmentVariablesToLoadFromSecrets[@]}"; do
  if [ ! -r '/.dockerenv' ]; then
    # only load from secrets when running in a container
    continue
  fi

  if [ -n "${!environmentVariable:-}" ]; then
    # skip loading if the environment variable is already set
    printf "${DIRENV_LOG_FORMAT:-direnv: %s}\n" "skip ${environmentVariable} (already set)"
    continue
  fi

  if [ -r "/run/secrets/${environmentVariable}" ]; then
    export "${environmentVariable}=$(cat /run/secrets/${environmentVariable})"
  fi
  watch_file "/run/secrets/${environmentVariable}"
done
