PATH_add node_modules/.bin
PATH_add ./bin

declare -ra environmentVariablesToLoadFromSecrets=(
  'PULUMI_ACCESS_TOKEN'
  'HCLOUD_TOKEN'
  'GH_TOKEN'
)

for environmentVariable in "${environmentVariablesToLoadFromSecrets[@]}"; do
  if [ ! -r '/.dockerenv' ]; then
    # only load from secrets when running in a container
    continue
  fi

  if [ -n "${!environmentVariable:-}" ]; then
    # skip loading if the environment variable is already set
    printf '[direnv] Skipping %s\n' "${environmentVariable}"
    continue
  fi

  if [ -r "/run/secrets/${environmentVariable}" ]; then
    export "${environmentVariable}=$(cat /run/secrets/${environmentVariable})"
  fi
  watch_file "/run/secrets/${environmentVariable}"
done

if [ -r ./kubeconfig ]; then
  export KUBECONFIG="$(realpath ./kubeconfig)"
fi
watch_file kubeconfig

if [ -r ./talosconfig ]; then
  export TALOSCONFIG="$(realpath ./talosconfig)"
fi
watch_file talosconfig
